body {
	font-family: 'Open Sans', 'sans-serif';
	margin: 0;
	background-color: rgb(44, 41, 38);
}

a {
	text-decoration: none;
}

#main-header {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(29, 24, 24);
	padding: 0 5%;
}

#main-header ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

#main-header li {
	margin: 0 1rem;
}

#main-header nav a {
	color: orange;
	font-size: 1.25rem;
}

#main-header nav a:hover {
	color: aliceblue;
}

#logo {
	color: orange;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-btn span {
  width: 100%;
  height: 3px;
  background-color: aliceblue;
}

#side-drawer {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 24, 24);
  position: fixed;
  top: 0;
  left: 0;
}

#side-drawer:target {
  display: block;
}

#side-drawer header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
}

#side-drawer ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 4rem 1rem;
}

#side-drawer li {
  margin: 1rem 0;
}

#side-drawer a {
  color: aliceblue;
  font-size: 2rem;
}

main h1 {
	text-align: center;
	color: orange;
	font-size: 3rem;
}

#latest-products {
	width: 80%;
	margin: 2rem auto;
}

#latest-products ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin: 0;
	padding: 0;
}

.food-item {
	background-color: rgb(228, 204, 182);
	border-radius: 8px;
	overflow: hidden;
  list-style: none;
}

.food-item img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
}

.food-item h2 {
  margin: 0 0 1rem 0;
}

.item-contents {
  font-size: 200%;
	text-align: center;
	padding: 1rem;
}

.btn {
	background-color: rgb(228, 157, 44);
	color: aliceblue;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
}

.btn:hover {
	background-color: aliceblue;
	color: rgb(228, 157, 44);
}

@media (max-width: 48rem) {
	main h1 {
    font-size: 1.5rem;
  }
  
  #main-header nav a {
    display: none;
  }

  #latest-products ul {
		grid-template-columns: 100%;
	}
}

@media (min-width: 48rem) {
  .menu-btn {
    display: none;
  }
}